<div class="container-fluid landingfooterblock ptb-35 generalcls">
  <div class="row">
    <div class="col-md-12 copyrightdiv text-center">
      <p>© COPYRIGHT 2019 - ASPIRE COMMERCIAL PAYMENT SOLUTIONS - ALL RIGHTS RESERVED</p>

      <div class="socialmediaicons socialmediaicons2">
          <a href="javascript:void(0)" class="fa fa-facebook"></a>
          <a href="javascript:void(0)" class="fa fa-twitter"></a>
        <a href="javascript:void(0)" class="fa fa-pinterest"></a>
          <a href="javascript:void(0)" class="fa fa-google-plus"></a>
      </div>

    </div>
  </div>
</div>




