<div class="jumbotron">
      <div class="col-md-6 offset-md-3">
        <h3>Category</h3>
        <form [formGroup]="myForm" (ngSubmit)="onSubmit()">
          <div class="form-row">
            <div class="form-group col-md-12">
              <input type="text" class="form-control"  placeholder="phone number" [formControl]="myForm.controls['name']" />
            </div>
          </div>
          <div class="form-row">
            <div class="form-group col-md-12">
              <input type="text" class="form-control"  placeholder="" [formControl]="myForm.controls['dis']"  />

            </div>
          </div>
          <div class="form-row">
            <div class="form-group col-md-12">
              <select [formControl]="myForm.controls['option']">
                <option value="">Select</option>
                <option *ngFor="let i of plist" value="{{i._id}}" >{{i.name}}</option>
              </select>
            </div>
          </div>


          <div class="form-group">
            <button class="btn btn-primary">Register</button>
          </div>
        </form>
      </div>
</div>


<h1>Category List</h1>
<mat-card>

<table mat-table [dataSource]="dataSource" matSort class="mat-elevation-z8" >

  <ng-container matColumnDef="select">
    <th mat-header-cell *matHeaderCellDef>
      <mat-checkbox (change)="$event ? masterToggle() : null"
                    [checked]="selection.hasValue() && isAllSelected()"
                    [indeterminate]="selection.hasValue() && !isAllSelected()">
      </mat-checkbox>
    </th>
    <td mat-cell *matCellDef="let row">
      <mat-checkbox (click)="$event.stopPropagation()"
                    (change)="$event ? selection.toggle(row) : null"
                    [checked]="selection.isSelected(row)">
      </mat-checkbox>
    </td>
  </ng-container>


  <ng-container *ngFor="let column of columns;let i=index;" [matColumnDef]="column.columnDef" >
    <th mat-header-cell *matHeaderCellDef mat-sort-header class="th-header-center">{{ column.header }}</th>
    <td mat-cell  *matCellDef="let row"  [ngStyle]="styleCell(column,row)" class="td-cell-center">{{ column.cell(row) }}</td>
    <!--<td *ngIf="column.objlength==i+1" mat-cell *matCellDef="i">
      <mat-icon>more_vert</mat-icon>
    </td>-->
  </ng-container>

  <ng-container matColumnDef="Actions" >
    <th mat-header-cell *matHeaderCellDef  class="th-header-center"></th>
    <td (click)="$event.stopPropagation()" mat-cell  *matCellDef="let row"  [ngStyle]="styleCell(column,row)" class="td-cell-center">
      <!--<span class="cursor" (click)="editrow(row)">
      <i class="material-icons">
        edit
      </i>
      </span>

      &lt;!&ndash;For modern browsers&ndash;&gt;
      <span class="cursor" (click)="deletrow(row)">
      <i class="material-icons">
        delete_outline
      </i>
      </span>
-->

    </td>
    <!--<td *ngIf="column.objlength==i+1" mat-cell *matCellDef="i">
      <mat-icon>more_vert</mat-icon>
    </td>-->
  </ng-container>



  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;" (click)="selection.toggle(row)"></tr>

</table>
</mat-card>


<div class="jumbotron">
  <div class="col-md-6 offset-md-3">
    <h3>Add Product</h3>
    <form [formGroup]="myForm1" (ngSubmit)="onSubmit1()">
      <div class="form-row">
        <div class="form-group col-md-12">
          <input type="text" class="form-control"  placeholder="phone number" [formControl]="myForm1.controls['name']" />
        </div>
      </div>
      <div class="form-row">
        <div class="form-group col-md-12">
          <input type="text" class="form-control"  placeholder="Price" [formControl]="myForm1.controls['price']" />
        </div>
      </div>
      <div class="form-row">
        <div class="form-group col-md-12">
          <input type="text" class="form-control"  placeholder="" [formControl]="myForm1.controls['dis']"  />

        </div>
      </div>
      <div class="form-row">
        <div class="form-group col-md-12">
          <!--<input type="text" class="form-control"  placeholder="" [formControl]="myForm1.controls['dis']"  />-->
          <select [formControl]="myForm1.controls['category']">
            <option value="">Select a category</option>
            <option *ngFor="let item of categorylist" value="{{item._id}}">{{item.name}}</option>
          </select>

        </div>
      </div>

      <div class="form-group">
        <button class="btn btn-primary">Register</button>
      </div>
    </form>
  </div>
</div>
